.footer-sticky {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 38%;
  border-radius: 12px;
  padding: 4px 0;
  box-shadow: rgba(197, 205, 213, 0.115) 0px 8px 24px;
  z-index: 1000;
  background-color: var(--white);
  height: 48px;
  overflow: hidden;
}
.footer-icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  opacity: 0.9;
  border-radius: 8px;
}
.footer-icon-button.active {
  background: #e6dee96c;
  opacity: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.footer-icon-button .footer-label {
  color: #333;
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
}
