.Auth {
  background-color: rgba(250, 235, 215, 0.185);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Auth-Box {
  width: 340px;
  height: 400px;
  background-color: #fff;
  padding:28px 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 58, 130, 0.182) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
